.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: black;
}

div {
  font-size: 200px;
  font-weight: bold;
  color: orangered;
}

.button-start-stop {
  position: absolute;
  margin-top: 25em;
  margin-left: -12em;
  width: 10em;
  height: 5em;
  font-size: 20px;
  font-weight: bold;
  background-color: black;
  color: orangered;
  border: 3px solid orangered;
  cursor: pointer;
}

.button-start-stop:hover {
  background-color: orangered;
  color: white;
}

.reload {
  position: absolute;
  margin-top: 25em;
  margin-left: 12em;
  width: 10em;
  height: 5em;
  font-size: 20px;
  font-weight: bold;
  background-color: black;
  color: orangered;
  border: 3px solid orangered;
  cursor: pointer;
}

.reload:hover {
  background-color: orangered;
  color: white;
}

@media (max-width: 425px) {
  div {
    font-size: 100px;
  }

  .button-start-stop {
    width: 7em;
    height: 4em;
    margin-left: -8em;
    margin-top: 250px;
  }

  .reload {
    width: 7em;
    height: 4em;
    margin-left: 8em;
    margin-top: 250px;
  }
}